<nav class="navbar navbar-expand-lg navbar-light ">

    <a class="navbar-brand ml-5" [routerLink]="['/home']"><img src="..\assets\img\Leilao_Graacc_logo.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ml-5">
                <a class="nav-link" [routerLink]="['/home']">Home</a>
            </li>
            <li class="nav-item ml-5">
                <a class="nav-link" href="https://graacc.org.br/" target="_blank">Graacc</a>
            </li>
            <li class="nav-item ml-5">
                <a class="nav-link" href="https://lojagraacc.com.br/" target="_blank">Loja</a>
            </li>
            <li class="nav-item ml-5">
                <a class="nav-link" [routerLink]="['/cadastro']">Cadastro</a>
            </li>

            <li class="nav-item ml-5">
                <a class="nav-link" [routerLink]="['/login']">LogIn</a>
            </li>
        </ul>

        <a href="https://graacc.org.br/doar/" target="_blank">
            <button type="button" class="btn btn-danger badge-pill mr-5">Quero doar</button>
        </a>

    </div>














    <!-- <div class="row align-items-center pt-3"> -->
    <!-- Logo -->
    <!-- <div class="col col-2 pr-5">
            <img src="..\assets\img\GRAACC_logo.png">
        </div> -->
    <!-- Barra de pesquisa -->

    <!-- <div class="col">
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-light mr-5" [routerLink]="['/home']">Home</button>

                    <a href="https://graacc.org.br/" target="_blank">
                        <button type="button" class="btn btn-light mr-5" [routerLink]="['/home']">Graacc</button>
                    </a>

                    <a href="https://lojagraacc.com.br/" target="_blank">
                        <button type="button" class="btn btn-light mr-5">Loja</button>
                    </a>

                    <button type="button" class="btn btn-light mr-5">Cadastro</button>
                </div>
            </div>
        </div> -->

    <!-- botão -->
    <!-- <div class="col col-2 pl-5">
            <a href="https://graacc.org.br/doar/" target="_blank">
                <button type="button" class="btn btn-danger badge-pill">Quero doar</button>
            </a>
        </div>
    </div> -->



    <!-- </nav> -->